
#pantalla-login{
    position:relative;
    color:white;
    width: 35%;
    background: black;
    display:flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border:white solid 2px;
    list-style: none;
    font-size: 1.5em;
    padding:10px;
    text-align: center;
    left: 30%;

}
#email, #pass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.boton-ingresar2{
    color:white;
    background-color: black;
    background-clip: white;
    font-size: 1em;
    position: absolute;
    left: 5px;
    bottom: 45px;
}
#pantalla-login a{
    color: orange;
    font-size: .6em;
}